th,
td {
  padding: 5px;
  text-align: left;
}
table {
  padding: 10px;
  border: 0px;
  border-spacing: unset;
  width: 100vw;
  overflow: scroll;
}

@media only screen and (max-width: 950px) {
  .ScrollableContent {
    overflow-x: scroll;
  }
}
